.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto";
  font-weight: 400;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.einst-primary-blue {
  color: #1d74a7;
}

.einst-secondary-blue {
  color: #2ca5b2;
}

.einst-secondary-purple {
  color: #9c6fa8;
}

.einst-text {
  color: #5b5b5d;
}

.einst-btn {
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #ffffff 50%, #1d74a7 50%);
  transition: background-position 0.2s ease-in-out, color 0.2s ease-in-out;
  background-position: 0 0;
}

.einst-btn:hover,
.einst-btn:focus {
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #ffffff 50%, #1d74a7 50%);
  transition: background-position 0.2s ease-in-out, color 0.2s ease-in-out;
  background-position: 0 100%;
  color: #fff;
}
